
<ion-modal-view>
    <ion-header-bar class="bar-assertive" style="background-color: #003A5D!important;">
      <h1 class="title">{{'TIRES_ADD_TIRE_BRAND'|translate}}</h1>
    </ion-header-bar>
    <ion-content style="padding: 15px;">
      <div class="list">      
        <label class="item item-input">
        <span class="input-label" style="font-size: 12px;">{{ 'TIRES_TIREBRAND' | translate }}</span>
          <input type ="text" ng-model="tireBrandName" style="max-width:100%;" required class="inputNumber">
        </label>
        <div class="row">
          <div class="col text-center">
            <button class="button button-small button-positive" ng-click="addTireBrand(tireBrandName)">{{'INSPECTION_AGREGAR'|translate}}</button>
          </div>
        </div>
      </div>
      <center>
        <a class="button button-small button-assertive" ng-click="closeModal(2)" style="padding-top:5px">
          {{ 'REPORTS_CERRAR' | translate }}
        </a>            
      </center>     
    </ion-content>
 </ion-modal-view>
