<ion-modal-view>
    <ion-header-bar class="bar-assertive" style="background-color: #003A5D!important;">
        <h1 class="title">
            MODAL BLUETOOTH
        </h1>
    </ion-header-bar>
    <ion-content>
        <div class="ion-content">
            <center>
                <h4>MODAL BLUETOOTH</h4>
            </center>
            <center>
              <a class="button button-small button-assertive" ng-click="closeModal(1)" style="padding-top:5px">
                {{ 'REPORTS_CERRAR' | translate }}
              </a>            
            </center> 
        </div>  
    </ion-content>
 </ion-modal-view>