<ion-modal-view >
    <ion-header-bar class="bar-assertive" style="background-color: #003A5D!important;">
      <h1 class="title">{{'TBL_COND_TITLE'|translate}}</h1>
    </ion-header-bar>
    <ion-content>
      <div class="list">
        <div class="item">
          <h2>{{'TBL_COND_CORTE'|translate}}</h2>
          <p>{{'TBL_COND_CORTE_DESC'|translate}}.</p>
        </div>
        <div class="item">
          <h2>{{'TBL_COND_DESGASTEIRREGULAR'|translate}}</h2>
          <p>{{'TBL_COND_DESGASTEIRREGULAR_DESC'|translate}}.</p>
        </div>
        <div class="item">
          <h2>{{'TBL_COND_DUAL_MAL_PAREADO'|translate}}</h2>
          <p>{{'TBL_COND_DUAL_MAL_PAREADO_DESC'|translate}}.</p>
        </div>
        <div class="item">
          <h2>{{'TBL_COND_FALTABIRLO'|translate}}</h2>
          <p>{{'TBL_COND_FALTABIRLO_DESC'|translate}}.</p>
        </div>        
        <div class="item">
          <h2>{{'TBL_COND_FUGAAIRE'|translate}}</h2>
          <p>{{'TBL_COND_FUGAAIRE_DESC'|translate}}.</p>
        </div>
        <div class="item">
          <h2>{{'TBL_COND_LLANTADESECHO'|translate}}</h2>
          <p>{{'TBL_COND_LLANTADESECHO_DESC'|translate}}.</p>
        </div>
        <div class="item">
          <h2>{{'TBL_COND_LLANTARENOVAR'|translate}}</h2>
          <p>{{'TBL_COND_LLANTARENOVAR_DESC'|translate}}.</p>
        </div>
        <div class="item">
          <h2>{{'TBL_COND_PONCHADA'|translate}}</h2>
          <p>{{'TBL_COND_PONCHADA_DESC'|translate}}.</p>
        </div>
        <div class="item">
          <h2>{{'TBL_COND_VALVULASINTAPON'|translate}}</h2>
          <p>{{'TBL_COND_VALVULASINTAPON_DESC'|translate}}.</p>
        </div>       
      </div>

    <center>
      <a class="button button-small button-assertive" ng-click="closeModal(1)">
        {{ 'REPORTS_CERRAR' | translate }}
      </a>            
    </center>          
    </ion-content>
 </ion-modal-view>