<ion-view view-title="" hide-nav-bar="false" hide-back-button="true" data-ng-init="init()">

    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" ng-click='chooseOption()'>          
        <button class="button button-balanced button-fab"  ng-click="toggleCompany()" ng-hide="data.appModeStatus || data.usertype == 'cliente'">
            <i class="icon ion-arrow-swap rotate-90"></i>
        </button>    
        <button class="button button-icon button-clear ion-gear-b" menu-toggle="right" ng-click='chooseOption()'>
        </button>
    </ion-nav-buttons>
    <ion-content>
            <ion-refresher pulling-text="{{'MSG_UPDATE'|translate}}" refreshing-text="{{'MSG_UPDATING'|translate}}" on-refresh="selectCliente(company)" ng-controller="DashboardCtrl">
        </ion-refresher>
        <div class="ion-content">   
        <br>   
            <div class="card fadein fadeout" ng-show="changeCompany" style="margin-top:20px;">
                <div class="item item-divider millantaTheme">
                    {{'DASHBOARD_COMPANY_DESC'|translate}}
                </div>

                <!--
                <div class="item item-text-wrap form-border-bottom" style="margin-top:-10px;">
                    <label class="item item-input item-select " style="height:40px;">
                        <select ng-model="company" ng-change="selectCliente(company);" style="max-width:100%;">
                            <option value="0">...</option>
                            <option ng-repeat="c in customers" value="{{c.id}}" ng-selected="{{c.id == company}}">{{c.nameCompany}}</option>
                        </select>
                    </label>
                </div> -->
                
                <div id="customers" class="item form-border-bottom" style="margin-top:-10px;">
                    <input type="data.search" id="data.search" style= "margin-left: 15px;" placeholder="..." ng-model="data.search"/>
                    <button ng-if="data.search.length" class="button button-icon ion-android-close" ng-click="clearSearch()">
                    </button>
                </div>
                 <ul id="customers_ul" style="margin-top:-10px; margin-left: 10px;">
                    <li ng-repeat="c in customers | filter:data.search | orderBy: orderList" style="margin-top: 5px;" ng-click="selectCliente(c.id)" ng-model="company">
                      {{c.nameCompany}}<br/>
                    </li>
                </ul>
                <!--
                <div class="list">
                    <li class="item" ng-model = "company" ng-repeat="c in customers" ng-selected ="{{c.id == company}}">{{c.nameCompany}}</li>
                </div> -->
                

            </div>
            <br>            
            <center ng-if="totalReceive > 0">
                <h3>{{nameCompany}}</h3>
            </center>
            <h4>{{'DASHBOARD_DATA_CLIENTE'|translate}}:</h4>

            <div class="card" ng-if="totalReceive <= 0">
                <div class="item item-text-wrap assertive">
                    <center>{{ 'DASHBOARD_CHOOSE_A_CLIENT' | translate }}</center>
                </div>
            </div>            
            <div class="row" ng-if="totalReceive > 0">
                <div class="col col-33">
                    <center>
                        <button class="button button-clear button-assertive" ng-click="toggleCustomer()"><img src="img/icon_fleet.png" style="width:40px;height:40px;" />
                        </button>
                        <br>
                        <strong>{{totalFleets}} <span ng-if="totalFleets > 1 || totalFleets == 0">{{'DASHBOARD_FLOTAS'|translate}}</span><span ng-if="totalFleets == 1">{{'DASHBOARD_FLOTA'|translate}}</span></strong>
                    </center>
                </div>
                <div class="col col-33">
                    <center>
                        <button class="button button-clear button-assertive" ng-click="toggleTrucks()"><img src="img/icon_truck.png" style="width:40px;height:40px;" />
                        </button>
                        <br>
                        <strong>{{totalTrucks}} <span ng-if="totalTrucks > 1 || totalTrucks == 0">{{'DASHBOARD_CAMIONES'|translate}}</span><span ng-if="totalTrucks == 1">{{'DASHBOARD_CAMION'|translate}}</span></strong>
                    </center>
                </div>
                <div class="col col-33">
                    <center>
                        <button class="button button-clear button-assertive" ng-click="toggleTires()"><img src="img/icon_tire_2.png" style="width:40px;height:40px;" />
                        </button>
                        <br>
                        <strong>{{totalTires}} <span ng-if="totalTires > 1 || totalTires == 0">{{'DASHBOARD_LLANTAS'|translate}}</span><span ng-if="totalTires == 1">{{'DASHBOARD_LLANTA'|translate}}</span></strong>
                    </center>
                </div>
            </div>

            <table ng-show="dataCustomer" class="fadein fadeout">
                <tbody ng-repeat="c in customers | filter:{camionId:company}" ng-if="company">
                    <tr ng-if="c.id == company">
                        <td><strong>{{ 'DASHBOARD_DIRECCION' | translate }}</strong>
                        </td>
                        <td>{{c.address}}</td>
                    </tr>
                    <tr ng-if="c.id == company">
                        <td><strong>{{ 'DASHBOARD_ENCARGADO' | translate }}</strong>
                        </td>
                        <td>{{job}} {{c.contactName}}</td>
                    </tr>
                    <tr ng-if="c.id == company">
                        <td><strong>{{ 'DASHBOARD_TELEFONO' | translate }}</strong>
                        </td>
                        <td>{{c.phone}}</td>
                    </tr>
                    <tr ng-if="c.id == company">
                        <td><strong>{{ 'DASHBOARD_EMAIL' | translate }}</strong>
                        </td>
                        <td>{{c.email}}</td>
                    </tr>
                    <tr>
                        <table ng-repeat='f in flotas | filter:{idCliente:c.id}' ng-show="dataCustomer" class="fadein fadeout">
                            <tr>
                                <td colspan="2">
                                    <img src="img/icon_fleet.png" style="width:20px;height:20px;" /><strong> {{f.id}} {{ 'TRUCK_FLOTA_LABEL' | translate }} #{{$index+1}} - {{f.nombre}}</strong>
                                    <br> {{f.calle}},
                                    <span ng-repeat="city in cities | filter:{id:f.ciudad}">{{city.nombre}}</span>,
                                    <span ng-repeat="state in states"><span ng-if="state.id == f.estado">{{state.nombre}}</span></span>.
                                </td>                                
                            </tr>                       
                        </table>
                    </tr>                    
                </tbody>
            </table>            
            <table ng-show="dataTrucks" class="fadein fadeout">
                <tr>
                    <td>
                        <center>
                            <h4 class="capitalize"><span ng-if="totalTrucks > 1 || totalTrucks == 0">{{'DASHBOARD_CAMIONES'|translate}}</span><span ng-if="totalTrucks == 1">{{'DASHBOARD_CAMION'|translate}}</span></h4> 
                        </center>
                    </td>
                </tr>            
                <tr ng-repeat='truck in trucks | orderBy:idModelo'>
                    <td>
                        <span ng-if="truck.nombreOperador">{{ 'DASHBOARD_OPERADOR' | translate }}: <strong>{{truck.nombreOperador}}</strong><br></span>
                        <img src="img/icon_truck.png" style="width:20px;height:20px;" />
                        {{ 'DASHBOARD_UNIDAD' | translate }}: <strong>{{truck.unidad}}</strong>&nbsp;
                        {{ 'DASHBOARD_TAG' | translate }}: <strong>{{truck.tag}}</strong>&nbsp;
                        <i class="ion ion-pricetag"></i>&nbsp;
                        <i class="ion ion-checkmark balanced" ng-show="truck.tagInstalado == 'SI'"></i>
                        <i class="ion ion-close assertive" ng-hide="truck.tagInstalado == 'NO'"></i>
                        <br>
                        
                        Tipo: <span ng-repeat="tt in truckTypes">
                            <span ng-if="tt.id == truck.tipo">
                                <strong>{{tt.nombre}} - {{tt.numLlantas}} llantas</strong>
                            </span>
                        </span>
                        &nbsp;
                        Modelo: <span ng-repeat="tm in truckModels">
                            <span ng-if="tm.id == truck.idModelo">
                                <strong>{{tm.description}} {{tm.model}}</strong>
                            </span>
                        </span>
                        &nbsp;
                        Presión: <span ng-repeat="pt in pressureTypes">
                            <span ng-if="pt.id == truck.pressureType">
                                <strong>{{pt.psi}} psi - {{pt.layers}} capas - {{pt.tireSize}}</strong>
                            </span>
                        </span>&nbsp;
                        <span if="truck.pressureType == 0">
                            <strong>90 psi</strong>
                        </span>
                        
                        {{ 'DASHBOARD_PLACAS_LABEL' | translate }}: <strong>{{truck.placas}}</strong>&nbsp;                                                    
                    </td>                                        
                </tr>
            </table>               
            <table ng-show="dataTires" class="fadein fadeout">
                <tr>
                    <td>
                        <center>
                            <h4>{{ 'REPORTS_TIRES' | translate }}</h4> 
                        </center>
                    </td>
                </tr>
                <tr ng-repeat="tire in tires | filter:{'camionId':truck.id}">
                    <td style="text-align:left;">                                                                    
                        <center>
                            <strong>{{ 'DASHBOARD_TAG' | translate }}</strong>: {{tire.tagId}}
                            <i class="ion ion-pricetag balanced" ng-show="tire.tagInstalado == 'SI'"></i>
                            <i class="ion ion-pricetag assertive" ng-show="tire.tagInstalado == 'NO'"></i>                                                    
                            <span ng-repeat="tireBrand in tireBrands">
                                <span ng-if="tireBrand.id == tire.tireBrand">{{tireBrand.nombre}}</span>
                            </span>
                            <!--<span ng-repeat="tireSize in tireSizes">
                                <span ng-if="tireSize.id == tire.tireSize">{{tireSize.medida}}</span>
                            </span>
                            <span ng-repeat="tireModel in tireModels">
                                <span ng-if="tireModel.id == tire.tireModel">{{tireModel.nombre}}</span>
                            </span>-->
                        </center>
                    </td>
                </tr>                
            </table>                             
            
            <div class="border-top">
                <h4 style="text-transform: uppercase;">{{'MENU_UPLOAD_DATA'|translate}}:</h4>
                <div class="row">
                    <div class="col col-33">
                        <center>
                            <img src="img/icon_fleet.png" style="width:40px;height:40px;" />
                            <br>
                            <strong>{{totalFleetsToSubmit}} <span ng-if="totalFleetsToSubmit > 1 || totalFleetsToSubmit == 0">{{'DASHBOARD_FLOTAS'|translate}}</span><span ng-if="totalFleetsToSubmit == 1">{{'DASHBOARD_FLOTA'|translate}}</span></strong>
                        </center>
                    </div>
                    <div class="col col-33">
                        <center>
                            <img src="img/icon_truck.png" style="width:40px;height:40px;" />
                            <br>
                            <strong>{{totalTruckToSubmit}} <span ng-if="totalTruckToSubmit > 1">{{'DASHBOARD_CAMIONES'|translate}}</span><span ng-if="totalTruckToSubmit == 1 || totalTruckToSubmit == 0">{{'DASHBOARD_CAMION'|translate}}</span></strong>
                        </center>
                    </div>
                    <div class="col col-33">
                        <center>
                            <img src="img/icon_tire_2.png" style="width:40px;height:40px;" />
                            <br>
                            <strong>{{totalTiresToSubmit}} <span ng-if="totalTiresToSubmit > 1 || totalTiresToSubmit == 0">{{'DASHBOARD_LLANTAS'|translate}}</span><span ng-if="totalTiresToSubmit == 1">{{'DASHBOARD_LLANTA'|translate}}</span></strong>
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-33">
                        <center>
                            <img src="img/icon_customers.png" style="width:40px;height:40px;" />
                            <br>
                            <strong>{{totalCustomersToSubmit}} 
                            <span ng-if="totalCustomersToSubmit > 1 || totalCustomersToSubmit == 0">{{'DASHBOARD_CLIENTES_LABEL'|translate}}</span>
                            <span ng-if="totalCustomersToSubmit == 1">{{'DASHBOARD_CLIENTE_LABEL'|translate}}</span></strong>
                        </center>
                    </div>
                    <div class="col col-33">
                        <center>
                            <img src="img/icon_inspection.png" style="width:40px;height:40px;" />
                            <br>
                            <strong>{{totalInspectionsToSubmit}} <span ng-if="totalInspectionsToSubmit > 1 || totalInspectionsToSubmit == 0">{{ 'DASHBOARD_INSPECTION_TRUCKS' | translate }}</span><span ng-if="totalInspectionsToSubmit == 1">{{ 'DASHBOARD_INSPECTION_TRUCK' | translate }}</span></strong>
                        </center>
                    </div>
                    <div class="col col-33">
                        <center>
                            <img src="img/icon_rend_inspection.png" style="width:40px;height:40px;" />
                            <br>
                            <strong>{{totalInspectionsToSubmit}} <span ng-if="totalInspectionsToSubmit > 1 || totalInspectionsToSubmit == 0">{{ 'MENU_INSPECTION_REND_LABEL' | translate }}</span><span ng-if="totalInspectionsToSubmit == 1">{{ 'MENU_INSPECTION_REND_LABEL' | translate }}</span></strong>

                        </center>
                    </div>                    
                </div>               
            </div>
            <div class="border-top">
                <h4>
                    <span>
                        {{'DASHBOARD_CATALOGS'|translate}}:
                    </span>
                    <span style="float:right; font-size:20px;">
                        <button class="button button-small button-clear button-positive" style="padding: 0 5px;margin-top: -7px;" ng-click="refreshCatalogs()">
                            <strong>
                                <i class="icon ion-refresh"></i>
                            </strong>
                        </button>
                    </span>                     
                </h4>                
                <div class="row">
                    <div class="col col-33">
                        <center>
                            <img src="img/icon_truck_brand.png" style="width:40px;height:40px;" />
                            <i class="ion ion-checkmark balanced" ng-show="totalTruckBrands > 0"></i>
                            <i class="ion ion-close assertive" ng-hide="totalTruckBrands > 0"></i>
                            <br> {{'TRUCK_DOWNLOAD_MARCACAMIONES_LABEL'|translate}}
                        </center>
                    </div>
                    <div class="col col-33">
                        <center>
                            <img src="img/icon_truck_types.png" style="width:40px;height:40px;" />
                            <i class="ion ion-checkmark balanced" ng-show="totalTruckTypes > 0"></i>
                            <i class="ion ion-close assertive" ng-hide="totalTruckTypes > 0"></i>
                            <br> {{'TRUCK_DOWNLOAD_TIPOCAMIONES_LABEL'|translate}}
                        </center>
                    </div>
                    <div class="col col-33">
                        <center>
                            <img src="img/icon_truck_models.png" style="width:40px;height:40px;" />
                            <i class="ion ion-checkmark balanced" ng-show="totalTruckModels > 0"></i>
                            <i class="ion ion-close assertive" ng-hide="totalTruckModels > 0"></i>
                            <br> {{'DASHBOARD_DOWNLOAD_MODELOCAMIONES_LABEL'|translate}}
                        </center>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-33">
                        <center>
                            <img src="img/icon_tire_size.png" style="width:40px;height:40px;" />
                            <i class="ion ion-checkmark balanced" ng-show="totalTireSizes > 0"></i>
                            <i class="ion ion-close assertive" ng-hide="totalTireSizes > 0"></i>
                            <br> {{'DASHBOARD_TIRESIZES'|translate}}
                        </center>
                    </div>
                    <div class="col col-33">
                        <center>
                            <img src="img/icon_tire_model.png" style="width:40px;height:40px;" />
                            <i class="ion ion-checkmark balanced" ng-show="totalTireModels > 0"></i>
                            <i class="ion ion-close assertive" ng-hide="totalTireModels > 0"></i>
                            <br> {{'DASHBOARD_TIREMODELS'|translate}}
                        </center>
                    </div>
                    <div class="col col-33">
                        <center>
                            <img src="img/icon_tire_brand.png" style="width:40px;height:40px;" />
                            <i class="ion ion-checkmark balanced" ng-show="totalTireBrands > 0"></i>
                            <i class="ion ion-close assertive" ng-hide="totalTireBrands > 0"></i>
                            <br> {{'DASHBOARD_TIREBRANDS'|translate}}
                        </center>
                    </div>                                                        
                </div>
                <div class="row">
                    <div class="col col-33" ng-show="reportLevel != 'Cliente'">
                        <center>
                            <img src="img/icon_fleet.png" style="width:40px;height:40px;" />
                            <i class="ion ion-checkmark balanced" ng-show="totalFleets > 0"></i>
                            <i class="ion ion-close assertive" ng-hide="totalFleets > 0"></i>
                            <br> {{'DASHBOARD_FLOTAS'|translate}}
                        </center>
                    </div>
                    <div class="col col-33">
                        <center>
                            <img src="img/icon_pressure_types.png" style="width:40px;height:40px;" />
                            <i class="ion ion-checkmark balanced" ng-show="totalPressureTypes > 0"></i>
                            <i class="ion ion-close assertive" ng-hide="totalPressureTypes > 0"></i>
                            <br> {{'DASHBOARD_DOWNLOAD_PRESSURETYPES_LABEL'|translate}}
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>