
<ion-modal-view >
    <ion-header-bar class="bar-assertive" style="background-color: #003A5D!important;">
      <h1 class="title">{{'TIRES_EDIT_TIRE'|translate}}</h1>
    </ion-header-bar>
    <br><br>

    <ion-content style="padding: 15px;">
      <div style="background-color: #f2effc;" ng-show="llantaVisible">                 
        <center>
          <strong>{{tireToEdit.tireBrand}} {{tireToEdit.tireModel}} {{tireToEdit.tireSize}}</strong> <br>
          {{ 'TIRES_POSITION' | translate }}: <strong>#{{tireToEdit.position}}</strong> | {{ 'DASHBOARD_TAG' | translate }}: <strong>{{tireToEdit.tagId}} </strong>                   
            <i class="ion ion-pricetag balanced" ng-if="tireToEdit.tagInstalado == 'SI'"></i>
            <i class="ion ion-pricetag assertive" ng-if="tireToEdit.tagInstalado == 'NO'"></i>
            <br>
          <strong>
            <span ng-show="tireToEdit.tireType == 'ORIGINAL'">{{ 'TIRES_ORIGINAL' | translate }}</span>
            <span ng-show="tireToEdit.tireType == 'RENOVADA'">{{ 'TIRES_RENEWED' | translate }}</span> 
          </strong>
          {{ 'TIRES_DEPTH' | translate }}: 
          <strong><span ng-show="tireToEdit.semaforo == 'Blanco'" style="color: #000000;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.71);">{{tireToEdit.desgaste}} mm </span>
          <span ng-show="tireToEdit.semaforo == 'Amarillo'" style="color: #FFFF00;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.71);">{{tireToEdit.desgaste}} mm </span>
          <span ng-show="tireToEdit.semaforo == 'Verde'" style="color: #00FF00;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.71);">{{tireToEdit.desgaste}} mm </span>
          <span ng-show="tireToEdit.semaforo == 'Rojo'" style="color: #FF0000;text-shadow:1px 1px 1px rgba(0, 0, 0, 0.71);">{{tireToEdit.desgaste}} mm </span>
          </strong> | {{ 'TIRES_MILEAGE' | translate }}: <strong>{{tireToEdit.kilometraje}} kms</strong> | {{ 'TIRES_PR' | translate }}: <strong>{{tireToEdit.pr}}</strong> psi
        </center>
      </div>


    <div class="list">
      <div ng-show="infoLlantaMover">
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{ 'INSPECTION_MOVE_TIRE' | translate }}:</span>
        </label>
        <label class="item item-input item-select" style="margin-top:-20px;margin-bottom:-10px;">      
          <select ng-model="data.tireSituation" style="max-width:100%;" ng-change="tireToQuitSituation(tireToEdit.id, data.tireSituation)" required class="inputNumber" ng-disabled="optionsMoveTire">
            <option value="ALMACEN">{{ 'DASHBOARD_LLANTAS_ALMACENADAS' | translate }}</option>
            <option value="PILA DE DESECHO">{{ 'TIRES_PILA_DESECHO' | translate }}</option>
            <option value="DESCONOCIDO">{{ 'TIRES_DESCONOCIDO' | translate }}</option>
            <option value="EDITAR">{{ 'TIRES_SOLO_EDITAR' | translate }}</option>
          </select>
        </label>
      </div>

      <div ng-show="infoLlantaRemplazar">
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{ 'INSPECTION_LLANTA_A_REEMPLAZAR' | translate }}:</span>
        </label>
        <label class="item item-input item-select" style="margin-top:-20px;margin-bottom:-10px;">      
          <select ng-model="newTire" style="max-width:100%;" ng-change="getNewTag(newTire,tireToEdit.camionId)" required class="inputNumber">
            <option value="ALMACEN">{{ 'DASHBOARD_LLANTAS_ALMACENADAS' | translate }}</option>          
            <option value="NUEVA">{{ 'INSPECTION_LLANTA_NUEVA' | translate }}</option>
          </select>
        </label>              
      </div>

      <div ng-show="infoLlantaSoloEditar">
        <br>
        <center>
          <h4>{{ 'TIRES_EDIT_TIRE' | translate }} #id: {{inspId}}</h4>
        </center>
        <!------------------------EDITAR LLANTA------------------------------>         
          <div class="spaceOn-PaddingRight" style="padding-top:15px;">
          <input ng-model="tireToEdit.flotaId" type="hidden"/>
          <input ng-model="tireToEdit.camionId" type="hidden"/>
          <input ng-model="tireToEdit.customerId" type="hidden"/>
          <input ng-model="inspKm" type="hidden"/>
          <input ng-model="inspId" type="hidden"/>
          <div class="list">
            <label class="item item-input" style="width:50%;float:left;">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_POSITION' | translate }}</span>
              <input type ="text" ng-model="tireToEdit.position" style="max-width:100%;" value="{{t.posicion}}" class="inputNumber" required ng-readonly="true">        
            </label>              
            <label class="item item-input" style="width:50%;float:left;">
              <span class="input-label" style="font-size: 12px;">{{ 'DASHBOARD_TAG' | translate }}</span>
              <input type ="text" ng-model="tireToEdit.tagId" class="inputNumber" style="max-width:100%;">
            </label>              
            <button class="button button-fab button-small button-balanced pull-right button-InRightMiddle" ng-click="openModal(1)"><i class="icon ion-help"></i></button>
            <label class="item item-select" style="padding-top: 0px;">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_TIREBRAND' | translate }}</span>
              <select ng-model="tireToEdit.tireBrand" style="max-width:100%;" ng-change="getSizesByBrand(tireToEdit.tireBrand)" required>
                <option ng-repeat="brands in data.tireBrands" value="{{brands.id}}" ng-selected="tireToEdit.tireBrand == brands.nombre">{{brands.nombre}}</option>
              </select>
            </label>
            <button class="button button-fab button-small button-calm pull-right button-InRightMiddle" style="margin-top:-35px;" ng-click="openModal(2)"><i class="icon ion-plus-round"></i></button>
            <button class="button button-fab button-small button-calm pull-right button-InRightMiddle" ng-click="openModal(3)"><i class="icon ion-plus-round"></i></button>
            <label class="item item-select" style="padding-top: 0px;">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_TIRESIZE' | translate }}</span>
              <select ng-model="tireToEdit.tireSize" style="max-width:100%;" ng-change="getDesignBySize(tireToEdit.tireSize)" required>
                <option ng-repeat="sizes in data.tireSizes" value="{{sizes.id}}" ng-selected="sizes.medida == tireToEdit.tireSize">{{sizes.medida}}</option>
              </select>
            </label>
            <button class="button button-fab button-small button-calm pull-right button-InRightMiddle" ng-click="openModal(4)"><i class="icon ion-plus-round"></i></button>
            <label class="item item-select" style="padding-top: 0px;">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_TIREDESIGN' | translate }}</span>
              <select ng-model="tireToEdit.tireModel" style="max-width:100%;" required>
                <option value="{{model.id}}" ng-repeat="model in data.tireModels" ng-selected="model.nombre == tireToEdit.tireModel">{{model.nombre}}</option>
              </select>
            </label>
            <label class="item item-select" style="padding-top: 0px;">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_TYPE_TYRE' | translate }}</span>
              <select ng-model ="tireToEdit.tireType" style="max-width:100%;" required>
                <option value="ORIGINAL" ng-selected="tireToEdit.tireType == 'ORIGINAL' || tireToEdit.tireType === undefined">{{ 'TIRES_ORIGINAL' | translate }}</option>
                <option value="RENOVADA" ng-selected="tireToEdit.tireType == 'RENOVADA'">{{ 'TIRES_RENEWED' | translate }}</option>         
              </select>
            </label>
            <label class="item item-input">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_PRICE' | translate }}</span>
              <input type ="text" ng-model ="tireToEdit.price" class="inputNumber" style="max-width:100%;" required>
            </label>
            <label class="item item-input">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_DOT' | translate }}</span>
              <input type ="text" ng-model ="tireToEdit.year" class="inputNumber" style="max-width:100%;" required>
            </label>
            <button class="button button-fab button-small button-balanced pull-right button-InRightMiddle" ng-click="openModal(5)"><i class="icon ion-help"></i></button>
            <label class="item item-input">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_TIRE_WEAR' | translate }}</span>
              <input type ="text" class="inputNumber" ng-model ="tireToEdit.desgaste" ng-change="startSemaphore(wear)" style="max-width:100%;" required  ng-click="getMilims()">
            </label>
            <label class="item item-select" style="padding-top: 0px;">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_INITIAL_SEMAPHORE' | translate }}</span>
              <select ng-model ="tireToEdit.semaforo" style="max-width:100%;" required>
                <option value="Blanco" ng-selected="tireToEdit.semaforo == 'Blanco'">{{ 'REPORTS_BLANCO' | translate }}</option>
                <option value="Verde" ng-selected="tireToEdit.semaforo == 'Verde'">{{ 'REPORTS_VERDE' | translate }}</option>
                <option value="Amarillo" ng-selected="tireToEdit.semaforo == 'Amarillo'">{{ 'REPORTS_AMARILLO' | translate }}</option>
                <option value="Rojo" ng-selected="tireToEdit.semaforo == 'Amarillo'">{{ 'REPORTS_ROJO' | translate }}</option>
              </select>
            </label>              
            <label class="item item-input">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_PR' | translate }}</span>
              <input type ="text" class ="inputNumber" ng-model="tireToEdit.pr" style="max-width:100%;" required  ng-click="getPressure()">
            </label>                                                        
            <label class="item item-input">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_TAG_HASBEEN_INSTALLED' | translate }}</span> {{}}
              <ion-toggle style="height:45px;padding-right: 15px;" toggle-class="toggle-assertive" ng-model="tireToEdit.tagInstalado" ng-true-value="'SI'" ng-false-value="'NO'">{{appModeStatus}}   
              </ion-toggle> 
            </label>                                          
          </div>
                  <center>
                      <h4 ng-click="showOtherConditions = ! showOtherConditions">
                          {{ 'INSPECTION_CONDITIONS_FOUNDS' | translate }}
                          <i class="ion-icon ion-chevron-up pull-right" ng-show="showOtherConditions == false || showOtherConditions === undefined" class="fadein fadeout"></i>
                          <i class="ion-icon ion-chevron-down pull-right" ng-show="showOtherConditions == true" class="fadein fadeout"></i>
                      </h4>
                  </center>
            <div ng-show="showOtherConditions">
              <label class="item item-checkbox ng-empty ng-valid" ng-repeat="tc in data.tireConditions" >
              <label class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle" for="{{tc.title}}">
                <input type="checkbox" class="ng-pristine ng-untouched ng-valid ng-empty" ng-click="stateChanged()" ng-model="selection.ids[tc.title]" name="group" id="{{tc.title}}">
                  <i class="checkbox-icon"></i>
                </label>
                <div class="item-content disable-pointer-events">
                  <span><small>{{tc.title}}</small></span>
                </div>
            </label>
            </div>
                  <div ng-hide="disableArea">
                      <label class="item item-input item-stacked-label" hidden>
                          <span class="input-label">* {{'INSPECTION_ADD_OTHER_CONDITIONS_I'|translate}}</span><br>
                          <span class="input-label">{{'INSPECTION_ADD_OTHER_CONDITIONS_II'|translate}}</span>
                      </label>
                      <label class="form-border-bottom" style="width:100%; ">               
                          ​<textarea ng-model="data.others" rows="3" ng-disabled = "disableArea"style="border-bottom:1px solid #F4001E; font-size:16px; width:100%;" placeholder="{{ 'INSPECTION_OTHER_CONDITION' | translate }}"></textarea>
                      </label>                  
                  </div>
                  <br><br>                            
            <center>
              <button class="button button-smaill button-balanced" ng-click="insertTireEdited(inspId, tireToEdit.tireBrand, tireToEdit.tireSize, tireToEdit.tireModel, tireToEdit.tireType, tireToEdit.price, tireToEdit.year, tireToEdit.tagId, tireToEdit.position, tireToEdit.desgaste, tireToEdit.pr, tireToEdit.tagInstalado, tireToEdit.semaforo)">{{ 'TIRES_EDIT_TIRE' | translate }}</button>
            </center>
            <br><br>
            </div>         
        <!------------------------EDITAR LLANTA------------------------------>                   
      </div>     
      
      <div ng-show="llantaDeAlmacen">
        <br>
        <center>
          <h4>{{ 'TIRES_LLANTA_ALMACEN' | translate }}</h4>
        </center>
        <br>
        <label class="item item-input item-stacked-label">
          <span class="input-label">{{ 'DASHBOARD_LLANTAS_ALMACENADAS' | translate }}:</span>
        </label>
        <label class="item item-input item-select" style="margin-top:-20px;margin-bottom:-10px;">      
          <select ng-model="tireStorage" style="max-width:100%;" ng-change="setTireToTruck(tireStorage,'{{tireToEdit.camionId}}','{{tireToEdit.position}}')" required class="inputNumber">
            <option ng-repeat="a in data.almacen" value="{{a.id}}">{{a.tagId}} {{a.tireBrand}} {{a.tireSize}} {{a.tireModel}}</option>
          </select>
        </label>
        <br><br>
        <center>
          <a class="button button-small button-balanced" ng-click="submitTireStorage(tireStorage)"> 
            {{ 'TIRES_CAMBIAR' | translate }}
          </a>            
        </center>
      </div>


      <div ng-show="llantaNueva">
        <br>
        <center>
          <h4>{{ 'TIRES_LLANTA_NUEVA' | translate }}</h4>
        </center>
        <br>
        <!------------------------NUEVA LLANTA------------------------------>         
          <div class="spaceOn-PaddingRight" style="padding-top:15px;">
          <input ng-model="tireToEdit.flotaId" type="hidden"/>
          <input ng-model="tireToEdit.camionId" type="hidden"/>
          <input ng-model="tireToEdit.customerId" type="hidden"/>
          <input ng-model="inspKm" type="hidden"/>
          <input ng-model="inspId" type="hidden"/>
          <div class="list">
            <label class="item item-input" style="width:50%;float:left;">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_POSITION' | translate }}</span>
              <input type ="text" ng-model="tireToEdit.position" style="max-width:100%;" value="{{t.posicion}}" class="inputNumber" required ng-readonly="true">        
            </label>              
            <label class="item item-input" style="width:50%;float:left;">
              <span class="input-label" style="font-size: 12px;">{{ 'DASHBOARD_TAG' | translate }}</span>
              <input type ="text" ng-model="tireToEdit.tagId" class="inputNumber" style="max-width:100%;">
            </label>              
            <button class="button button-fab button-small button-balanced pull-right button-InRightMiddle" ng-click="openModal(1)"><i class="icon ion-help"></i></button>
            <label class="item item-select" style="padding-top: 0px;">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_TIREBRAND' | translate }}</span>
              <select ng-model="tireToEdit.tireBrand" style="max-width:100%;" ng-change="getSizesByBrand(tirebrand)" required>
                <option ng-repeat="brands in data.tireBrands" value="{{brands.id}}" ng-selected="tireToEdit.tireBrand == brands.nombre">{{brands.nombre}}</option>
              </select>
            </label>
            <button class="button button-fab button-small button-calm pull-right button-InRightMiddle" style="margin-top:-35px;" ng-click="openModal(2)"><i class="icon ion-plus-round"></i></button>
            <button class="button button-fab button-small button-calm pull-right button-InRightMiddle" ng-click="openModal(3)"><i class="icon ion-plus-round"></i></button>
            <label class="item item-select" style="padding-top: 0px;">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_TIRESIZE' | translate }}</span>
              <select ng-model="tireToEdit.tireSize" style="max-width:100%;" ng-change="getDesignBySize(size)" required>
                <option ng-repeat="sizes in data.tireSizes" value="{{sizes.id}}" ng-selected="sizes.medida == tireToEdit.tireSize">{{sizes.medida}}</option>
              </select>
            </label>
            <button class="button button-fab button-small button-calm pull-right button-InRightMiddle" ng-click="openModal(4)"><i class="icon ion-plus-round"></i></button>
            <label class="item item-select" style="padding-top: 0px;">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_TIREDESIGN' | translate }}</span>
              <select ng-model="tireToEdit.tireModel" style="max-width:100%;" required>
                <option value="{{model.id}}" ng-repeat="model in data.tireModels" ng-selected="model.nombre == tireToEdit.tireModel">{{model.nombre}}</option>
              </select>
            </label>
            <label class="item item-select" style="padding-top: 0px;">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_TYPE_TYRE' | translate }}</span>
              <select ng-model ="tireToEdit.tireType" style="max-width:100%;" required>
                <option value="ORIGINAL" ng-selected="tireToEdit.tireType == 'ORIGINAL' || tireToEdit.tireType === undefined">{{ 'TIRES_ORIGINAL' | translate }}</option>
                <option value="RENOVADA" ng-selected="tireToEdit.tireType == 'RENOVADA'">{{ 'TIRES_RENEWED' | translate }}</option>         
              </select>
            </label>
            <label class="item item-input">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_PRICE' | translate }}</span>
              <input type ="text" ng-model ="tireToEdit.price" class="inputNumber" style="max-width:100%;" required>
            </label>
            <label class="item item-input">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_DOT' | translate }}</span>
              <input type ="text" ng-model ="tireToEdit.year" class="inputNumber" style="max-width:100%;" required>
            </label>
            <button class="button button-fab button-small button-balanced pull-right button-InRightMiddle" ng-click="openModal(5)"><i class="icon ion-help"></i></button>
            <label class="item item-input">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_TIRE_WEAR' | translate }}</span>
              <input type ="text" class="inputNumber" ng-model ="tireToEdit.desgaste" ng-change="startSemaphore(wear)" style="max-width:100%;" required  ng-click="getMilims()">
            </label>
            <label class="item item-select" style="padding-top: 0px;">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_INITIAL_SEMAPHORE' | translate }}</span>
              <select ng-model ="tireToEdit.semaforo" style="max-width:100%;" required>
                <option value="Blanco" ng-selected="tireToEdit.semaforo == 'Blanco'">{{ 'REPORTS_BLANCO' | translate }}</option>
                <option value="Verde" ng-selected="tireToEdit.semaforo == 'Verde'">{{ 'REPORTS_VERDE' | translate }}</option>
                <option value="Amarillo" ng-selected="tireToEdit.semaforo == 'Amarillo'">{{ 'REPORTS_AMARILLO' | translate }}</option>
                <option value="Rojo" ng-selected="tireToEdit.semaforo == 'Amarillo'">{{ 'REPORTS_ROJO' | translate }}</option>
              </select>
            </label>              
            <label class="item item-input">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_PR' | translate }}</span>
              <input type ="text" class ="inputNumber" ng-model="tireToEdit.pr" style="max-width:100%;" required  ng-click="getPressure()">
            </label>                                                        
            <label class="item item-input">
              <span class="input-label" style="font-size: 12px;">{{ 'TIRES_TAG_HASBEEN_INSTALLED' | translate }}</span> {{}}
              <ion-toggle style="height:45px;padding-right: 15px;" toggle-class="toggle-assertive" ng-model="tireToEdit.tagInstalado" ng-true-value="'SI'" ng-false-value="'NO'">{{appModeStatus}}   
              </ion-toggle> 
            </label>                                          
          </div>
                  <center>
                      <h4 ng-click="showOtherConditions = ! showOtherConditions">
                          {{ 'INSPECTION_CONDITIONS_FOUNDS' | translate }}
                          <i class="ion-icon ion-chevron-up pull-right" ng-show="showOtherConditions == false || showOtherConditions === undefined" class="fadein fadeout"></i>
                          <i class="ion-icon ion-chevron-down pull-right" ng-show="showOtherConditions == true" class="fadein fadeout"></i>
                      </h4>
                  </center>
            <div ng-show="showOtherConditions">
              <label class="item item-checkbox ng-empty ng-valid" ng-repeat="tc in data.tireConditions" >
              <label class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle" for="{{tc.title}}">
                <input type="checkbox" class="ng-pristine ng-untouched ng-valid ng-empty" ng-click="stateChanged()" ng-model="selection.ids[tc.title]" name="group" id="{{tc.title}}">
                  <i class="checkbox-icon"></i>
                </label>
                <div class="item-content disable-pointer-events">
                  <span><small>{{tc.title}}</small></span>
                </div>
            </label>
            </div>
                  <div ng-hide="disableArea">
                      <label class="item item-input item-stacked-label" hidden>
                          <span class="input-label">* {{'INSPECTION_ADD_OTHER_CONDITIONS_I'|translate}}</span><br>
                          <span class="input-label">{{'INSPECTION_ADD_OTHER_CONDITIONS_II'|translate}}</span>
                      </label>
                      <label class="form-border-bottom" style="width:100%; ">               
                          ​<textarea ng-model="data.others" rows="3" ng-disabled = "disableArea"style="border-bottom:1px solid #F4001E; font-size:16px; width:100%;" placeholder="{{ 'INSPECTION_OTHER_CONDITION' | translate }}"></textarea>
                      </label>                  
                  </div>
                  <br><br>                            
            <center>
              <button class="button button-smaill button-balanced" ng-click="insertTireNew(inspId, tireToEdit.tireBrand, tireToEdit.tireSize, tireToEdit.tireModel, tireToEdit.tireType, tireToEdit.price, tireToEdit.year, tireToEdit.tagId, tireToEdit.position, tireToEdit.desgaste, tireToEdit.pr, tireToEdit.tagInstalado, tireToEdit.semaforo)">{{ 'TIRES_EDIT_TIRE' | translate }}</button>
            </center>
            <br><br>
            </div>         
        <!------------------------NUEVA LLANTA------------------------------>

      </div>
      <br>
        <center>
          <a class="button button-small" ng-click="closeModal(1)" style="padding-top:5px; color:#FFFFFF; background-color:#FF0000;">
            {{ 'REPORTS_CERRAR' | translate }}
          </a>            
        </center>    
        <br><br>
    </ion-content>
 </ion-modal-view>