<ion-modal-view>
	<ion-header-bar class="bar bar-header bar-assertive" style="background-color: #F4001E!important;">
		<h1 class="title">Verificar llantas</h1>
		<button class="button button-clear button-primary button-icon ion-ios-close" ng-click="modal.hide()"></button>
	</ion-header-bar>
	<ion-content>
		<div>
			<div ng-repeat="it in data.inspectionTires">
	            <a class="item item-avatar" ng-click="showLlanta = !showLlanta" style="padding-left:75px;">
		            <img src="img/icon_tire2.png"/>
	                <h2 style="overflow:visible!important;">
	                    <center>
	                        <strong>                                
	                            <span ng-repeat="tireBrand in data.tireBrands">
	                                <span ng-if="tireBrand.id == it.tireBrand">
	                                    {{tireBrand.nombre}}
	                                </span>
	                            </span> 
	                            <span ng-repeat="tireModel in data.tireModels">
	                                <span ng-if="tireModel.id == it.tireModel">
	                                    {{tireModel.nombre}}                                        
	                                </span>
	                            </span>                                 
	                            <span ng-repeat="tireSize in data.tireSizes">
	                                <span ng-if="tireSize.id == it.tireSize">
	                                    {{tireSize.medida}}                                     
	                                </span>                                 
	                            </span>
	                            <span ng-repeat="it in data.inspectionTires">
	                                <span ng-if="data.inspectionTires.id == it.id">
	                                    {{it.position}}                                     
	                                </span>                                 
	                            </span>
	                        </strong>
	                    </center>
	                    <center>
	                    	<button class="button button-balanced button-small" style="margin-top:10px;margin-bottom:10px;" ng-click="getGun(0)">Detectar</button>
	                    	<label class="item-stacked-label form-border-bottom">
	                    		<input class="text" style="border-bottom:1px solid #F4001E; font-size:16px;margin-top:10px;margin-bottom:10px;" ng-focus="getGun(0)">
	                    	</label>                    
	                    </center>
	                    <p style="text-align:center">{{it.tagId}} {{ 'TIRES_POSITION' | translate }} #{{it.position}}                     
	                    <i class="ion ion-pricetag balanced" ng-if="it.tagInstalado == 'SI'"></i>
	                    <i class="ion ion-pricetag assertive" ng-if="it.tagInstalado == 'NO'"></i>
                	</p>
	                </h2>	                
	             </a>	             
	    	</div>
	    </div>
    </ion-content>  
</ion-modal-view>
