<ion-view view-title="{{ 'INSPECTION_GUN' | translate }}" class="ion-content" data-ng-init="init()" ng-controller="InspectionCtrl">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" ng-click='chooseOption()'>
        <button class="button button-balanced button-fab"  ng-click="clearTruck()">
            <i class="icon ion-arrow-swap rotate-90"></i>
        </button>
        <button class="button button-icon button-clear ion-gear-b" menu-toggle="right" ng-click='chooseOption()'>
        </button>        
    </ion-nav-buttons>    
    <ion-content scroll="true">
        <br>
        <ion-refresher pulling-text="{{'MSG_UPDATE'|translate}}" refreshing-text="{{'MSG_UPDATING'|translate}}" on-refresh="init()" ng-show="!camionExiste" class="fadein fadeout">
        </ion-refresher>        
        <div ng-show="!camionExiste" class="fadein fadeout" style="height:80%!important;width:auto;">
            <ion-slides  options="options" slider="data.slider" style="height:100%!important;width:auto;">
                <ion-slide-page>
                    <center>
                        <!--<h4>Inspección por Pistola RFID</h4>--><br>
                        <div class="col-67">     
                            <br>
                            <img src="img/icon_truck.png" style="max-width:200px;height:auto;"/>                   
                            <br>
                            <p style="font-size:16px;"><strong>{{ 'INSPECTION_CHOOSE_TRUCK' | translate }}:</strong></p>
                            <label class="item item-input item-select " style="height:40px;">
                                <select ng-change="findTruck(data.tagCamion)" ng-model="data.tagCamion" style="max-width:100%;">   
                                    <option ng-repeat="truck in trucks | orderBy:idModelo" value="{{truck.tag}}">{{ 'DASHBOARD_TAG' | translate }}: {{truck.unidad}} - {{ 'INSPECTION_PLACA_LABEL' | translate }}: {{ truck.placas | uppercase}}</option>
                                </select> 
                            </label>                                                        
                        </div>
                    </center>                      
                </ion-slide-page>
                <ion-slide-page>
                    <center>
                        <h4>Inspección por Pistola RFID</h4>
                        <div class="col-67">
                            <br>          
                            <img src="img/icon_truck.png" style="max-width:200px;height:auto;"/>                   
                            <br>
                            <p style="font-size:18px;"><strong>{{ 'INSPECTION_WRITE_TRUCK_TAG' | translate }}:</strong></p>
                            <br>
                            <label class="item-stacked-label form-border-bottom">               
                                <input type="text" ng-model="tagCamion" required="" class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" style="border-bottom:1px solid #F4001E;"/>
                            </label>   
                            <br><br>
                            <button id="fab" class="button button-assertive button-fab" ng-click="findTruck(tagCamion)">
                                <i class="icon ion-paper-airplane"></i>
                            </button>                                                                                                  
                        </div>
                    </center>                                                      
                </ion-slide-page>                
            </ion-slides>    
        </div>
        <div ng-show="camionExiste" class="fadein fadeout" style="padding-top:15px;">         
            <div ng-repeat="truck in trucks|filter:{tag:tagCamion}" class="spaceOn">
                <span>
                    <center>                        
                        <h3><img src="img/icon_truck.png" style="max-width:25px;height:auto;"/> {{ 'DASHBOARD_UNIDAD' | translate }}: {{truck.unidad}}
                            <i class="ion ion-pricetag balanced" style="font-size:16px;" ng-if="truck.tagInstalado == 'SI'"></i>
                            <i class="ion ion-pricetag assertive" style="font-size:16px;"ng-if="truck.tagInstalado == 'NO'"></i>
                        </h3>
                    </center>

                    <table>
                        <tr>
                            <td style="text-align:right;"><strong>{{ 'TRUCK_TAG_CAMION_LABEL' | translate }}:</strong></td>
                            <td>{{truck.tag}}</td>
                        </tr>
                        <tr>
                            <td style="text-align:right;"><strong>{{ 'DASHBOARD_PLACAS_LABEL' | translate }}:</strong></td>
                            <td>{{ truck.placas | uppercase}}</td>                            
                        </tr>
                        <tr>
                            <td style="text-align:right;"><strong>{{ 'TRUCK_TIPO_CAMION_LABEL' | translate }}:</strong></td>
                            <td>
                                <span ng-repeat="tt in truckTypes">
                                    <span ng-if="tt.id == truck.tipo">
                                        {{tt.nombre}} {{ 'INSPECTION_CON' | translate }} {{tt.numLlantas}} {{ 'DASHBOARD_LLANTAS' | translate }}                                
                                    </span>                                    
                                </span>
                            </td>
                        </tr>
                        <tr>
                            <td style="text-align:right;"><strong>{{ 'DASHBOARD_LLANTAS' | translate }}:</strong></td>
                            <td>{{tiresRegistred}} {{ 'INSPECTION_REGISTRADAS' | translate }}</td>
                        </tr>
                        <tr ng-if="truck.nombreOperador">
                            <td style="text-align:right;"><strong>{{ 'INSPECTION_DRIVER_NAME' | translate }}</strong></td>
                            <td>{{truck.nombreOperador}}</td>
                        </tr>  
                        <tr>
                            <td style="text-align:right;"><strong>{{ 'TRUCK_PRESSURE_TYPE' | translate }}:</strong></td>
                            <td>
                                <span ng-if="truck.pressureType == 0">
                                    {{ 'INSPECTION_NOT_ASSIGNED' | translate }}                    
                                </span>
                                <span ng-if="truck.pressuteType != 0">
                                    <span ng-repeat="pt in pressureTypes">
                                        <span ng-if="pt.id == truck.pressureType">
                                            <strong>{{pt.psi}} {{ 'INSPECTION_PSI' | translate }} - {{pt.layers}} {{ 'INSPECTION_LAYERS' | translate }} - {{pt.tireSize}}</strong>
                                        </span>
                                    </span>                                                     
                                </span>                                
                            </td>
                        </tr>  
                        <tr>
                            <td style="text-align:right;"><label><strong>{{ 'TIRES_MILEAGE' | translate }}:</strong></label></td>
                            <td>
                                <label class="item-stacked-label form-border-bottom">               
                                    <input type="number" ng-model="data.kilometraje" required="" style="border-bottom:1px solid #F4001E; font-size:16px;" placeholder="kms"/>
                                </label>                                
                            </td>
                        </tr>  

                        <tr>
                            <td colspan="2" ng-show="data.kilometraje == 0" >
                                <label class="fadein fadeout">
                                    <strong>
                                        {{ 'INSPECTION_KILOMETRAJE_CEROS' | translate }}
                                    </strong>                        
                                </label>
                                <br>
                                <label class="item item-select" style="margin-top:5px;" class="fadein fadeout">                   
                                    <select ng-model="data.kmZero" style="max-width:100%;" required>
                                        <option value="Camion Cerrado">{{ 'INSPECTION_TRUCK_CLOSED' | translate }}</option>
                                        <option value="Odometro Ilegible">{{ 'INSPECTION_ODOMETRO_ILEGIBLE' | translate }}</option>
                                        <option value="Odometro no sirve">{{ 'INSPECTION_ODOMETRO_NOT_WORKING' | translate }}</option>
                                    </select>
                                </label>                                
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <center>
                                    <strong>
                                        <a ng-click="showHistorialInspecciones = !showHistorialInspecciones">{{ 'INSPECTION_HISTORIAL_INSP' | translate }}
                                        &nbsp;<span class="ion-icon ion-plus" ng-show="!showHistorialInspecciones"></span>
                                        <span class="ion-icon ion-minus" ng-show="showHistorialInspecciones"></span>
                                        </a>
                                    </strong>
                                </center>
                                <span ng-show="showHistorialInspecciones" class="fadein fadeout">
                                    <ul class="list list-inset">
                                        <li class="item" ng-repeat="histInsp in historialInspections">
                                            {{histInsp.fecha | date:'medium'}}
                                        </li>
                                    </ul>                                
                                </span>                                
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <br>
                                <center>
                                    <button class="button button-small button-assertive" ng-click="startInspectionGun('{{userId}}', '{{truck.tag}}', 'marca', 'modelo', '{{truck.unidad}}', '{{truck.placas}}', '{{truck.tagInstalado}}','Gun')">{{ 'INSPECTION_INSP_START' | translate }}</button>
                                </center>
                                <br>
                            </td>
                        </tr>          
                    </table>    
                </span>                 
            </div>              
        </div>                        
        </div>
    </ion-content>
    <!--   
    <div class="fixed-outside">
    
      <div class="row">            
            <div class="col">                
            </div>
            <div class="col">
                <button id="fab" class="button button-positive button-fab" ng-click="clearTruck()">
                    <i class="icon ion-arrow-swap rotate-90"></i>
                </button>                
            </div>
        </div>
         
        <p class="text-center"><a href="#/app/forgot-password">Forgot password</a></p>        
        <p class="text-center">
            <button id="fab" class="button button-assertive button-fab button-fab-bottom-middle" ng-click="exit()">
                <i class="icon ion-android-close"></i>
            </button>            
        </p>
                   
    </div>-->  
</ion-view>