<ion-view view-title="{{ 'MENU_QUICK_SEARCH' | translate }}" hide-nav-bar="false" hide-back-button="true" ng-controller="InspectionCtrl">
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>    
    <ion-nav-buttons side="right" ng-click='chooseOption()'>
        <button class="button button-icon button-clear ion-gear-b" menu-toggle="right" ng-click='chooseOption()'>
        </button>
    </ion-nav-buttons>
    <ion-content>
        <center ng-if="data.tiresRegistred != 0">
            <img ng-src="{{data.truckImg}}" style="min-height: 10px;max-height: 400px; min-width:10px; max-width:250px;" ng-if="data.truckImg"/>            
        </center> 
        <div ng-repeat="it in data.flashTires"> 
                
            <a class="item item-avatar" ng-click="showLlanta = !showLlanta" style="padding-left:75px;">
                <img src="img/icon_tire2.png"/>
                <div id="startCard" ng-show="showstartCard"  ng-controller="bluetoothCtrl">
                        <span class="fadein fadeout balanced" style="font-size:16px; margin-left: 20px;">
                            <i class="icon ion-checkmark-circled"></i>
                        </span>
                </div>         
                <div id="secondCard" ng-show="showsecondCard" ng-controller="bluetoothCtrl">
                        <span class="fadein fadeout assertive" style="font-size:16px;">
                            <i class="icon ion-close-circled"></i>
                        </span>     
                </div>
                <h2 style="overflow:visible!important;">
                    
                        <center>
                            <strong>{{it.tireBrand}} {{it.tireModel}} {{it.tireSize}}</strong>
                        </center>                   
                </h2>
                <p style="text-align:center;">{{it.tagId}} {{ 'TIRES_POSITION' | translate }} #{{it.position}}                      
                    <i class="ion ion-pricetag balanced" ng-if="it.tagInstalado == 'SI'"></i>
                    <i class="ion ion-pricetag assertive" ng-if="it.tagInstalado == 'NO'"></i>
                </p>

            
	            <div style="background-color:#FFFFFF; margin-top: 5px; margin-bottom: 5px;" ng-show="showLlanta">	
		            <center>
						<button class="button button-small button-assertive" ng-click="detectTag(it.tagId, it.position)" ng-controller="bluetoothCtrl" style="z-index:1000"><i class="icon ion-bluetooth" style="margin-left: 5px; margin-right: 5px;"></i>{{ 'TIRES_DETECT_TAG' | translate }}</button>			
					</center>          
		            <br>
	            </div>
            </a>
        </div>
        <label class="item item-input item-stacked-label form-border-bottom">
            <span>{{'INSPECTION_FAST_COMMENT'|translate}}</span>
            <input type="text" ng-model="data.messageInspection" required  class="inputNumber"/>
        </label>
        <center>
            <div style="width:100%; padding-top:20px;">
                <button class="button button-small button-balanced" ng-click="sendQuickReport()">{{ 'TIRES_SEND_REPORT' | translate }}</button>
            </div>
        </center>
    </ion-content>
</ion-view>