
<ion-view view-title="{{ 'MENU_INSPECTION_SEM_LABEL' | translate }}" class="ion-content">
 <ion-nav-buttons side="left">
    <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right" ng-click='chooseOption()'>
        <button class="button button-icon button-clear ion-gear-b" menu-toggle="right" ng-click='chooseOption()'>
        </button>
    </ion-nav-buttons>
        <label ng-repeat="record in tag.ndefMessage" style="position: absolute; top: 50px; width: 100%; z-index:1000;background-color:transparent;display:inline;text-align:center;">
            <center>
                <span style="float:left;margin-top:9px;">
                {{ 'INSPECTION_TAG_LEIDO' | translate }}: 
                </span>
                <input type="text" value="{{ record | decodePayload }}" id="tagTruck" style="float:left;color:red;background-color:transparent;" />
            </center>
        </label> 
	<ion-content>           
    	<center>
    	   <h4>{{ 'INSPECTION_PROBE_INSP' | translate }}</h4>
           <br>
           <div class="col-67" ng-if="data.tiresRegistred != 0">
                <img ng-src="{{data.truckImg}}" style="min-height: 10px;max-height: 400px;" ng-if="data.truckImg"/>
           </div>           
    	</center>                     
        <div ng-repeat="it in data.inspectionTires">
            <a class="item item-avatar" ng-click="showLlanta = !showLlanta" style="padding-left:75px;">
                <img src="img/icon_tire2.png"/>
                <h2 style="overflow:visible!important;">
                    <center>
                        <strong>                                
                            <span ng-repeat="tireBrand in data.tireBrands">
                                <span ng-if="tireBrand.id == it.tireBrand">
                                    {{tireBrand.nombre}}
                                </span>
                            </span> 
                            <span ng-repeat="tireModel in data.tireModels">
                                <span ng-if="tireModel.id == it.tireModel">
                                    {{tireModel.nombre}}                                        
                                </span>
                            </span>                                 
                            <span ng-repeat="tireSize in data.tireSizes">
                                <span ng-if="tireSize.id == it.tireSize">
                                    {{tireSize.medida}}                                     
                                </span>                                 
                            </span> 
                        </strong>
                    </center>                   
                </h2>
                <p style="text-align:center">{{it.tagId}} {{ 'TIRES_POSITION' | translate }} #{{it.position}}                     
                    <i class="ion ion-pricetag balanced" ng-if="it.tagInstalado == 'SI'"></i>
                    <i class="ion ion-pricetag assertive" ng-if="it.tagInstalado == 'NO'"></i>
                </p>
            </a>

            <div style="background-color:#FFFFFF;" ng-show="showLlanta">                    
                <table>
                    <tr>
                        <td style="text-align:right;vertical-align:middle;"><strong>{{ 'INSPECTION_TAG_DETECTADO' | translate }}:</strong></td>
                        <td style="text-align:left;vertical-align:middle;">
                            <input type="hidden" ng-model="data.tagDetected">
                            <strong>
                                <span ng-if="data.tagDetected == 'SI'">{{ 'INSPECTION_TAG_DETECTADO_SI' | translate }}</span>
                                <span ng-if="data.tagDetected == 'NO'">{{ 'INSPECTION_TAG_DETECTADO_NO' | translate }}</span>
                            </strong>&nbsp;
                            <a class="assertive" ng-click="getTag('{{it.tagId}}')" style="padding:0 15px; float: right;">
                                <img ng-src="img/nfc.png" style="width:10px; height:10px"/> {{ 'INSPECTION_TAG_COMPROBAR' | translate }}
                            </a>
                            <a class="assertive" ng-click="readRFID('{{it.tagId}}')" ng-controller="bluetoothCtrl" style="padding:0 15px; float: right;">
                                <img ng-src="img/icon_bluetooth.png" style="width:12px; height:12px"/> {{ 'INSPECTION_READ_TAG' | translate }}
                            </a> 
                        </td>
                    </tr>                                                                                                                                         
                    <tr>
                        <td style="text-align:right;"><strong>{{ 'INSPECTION_REMANENTE' | translate }}:</strong></td>
                        <td>
                            <label class="item-stacked-label form-border-bottom">               
                                <input type="text" ng-model="data.dr" style="border-bottom:1px solid #F4001E; font-size:16px;" ng-click="getMilims()"/>
                            </label>                                
                        </td>
                    </tr>                        
                    <tr>
                        <td style="text-align:right;"><strong>{{ 'INSPECTION_PSI' | translate }}:</strong></td>
                        <td>
                            <label class="item-stacked-label form-border-bottom">               
                                <input type="text" ng-model="data.psi" style="border-bottom:1px solid #F4001E; font-size:16px;" ng-click="getPressure()"/>
                            </label>                                
                        </td>
                    </tr>
                    
                    <tr>
                        <td tyle="text-align:right;vertical-align:middle;"><strong>{{ 'TIRES_TYPE_TYRE' | translate }}:</strong></td>
                        <td>
                            <label class="item item-select">    
                                <select ng-model="data.tireType" style="max-width:100%;" required> 
                                    <option value="ORIGINAL" ng-selected="it.tireType == 'ORIGINAL'">{{ 'TIRES_ORIGINAL' | translate }}</option>
                                    <option value="RENOVADA" ng-selected="it.tireType == 'RENOVADA'">{{ 'TIRES_RENEWED' | translate }}</option>
                                </select>
                            <label>     
                        </td>
                    </tr> 
                    <tr>
                        <td>&nbsp;</td>                        
                        <td>
                            <span ng-if="data.lecturas == 0">
                                {{'INSPECTION_NOT_READINGS_DETECTED' | translate}}
                            </span>
                            <span ng-if="data.lecturas > 0">
                                {{ 'INSPECTION_PROMEDIO' | translate }}&nbsp;{{data.lecturas}}&nbsp;{{ 'INSPECTION_READINGS' | translate }}<br>
                                <span ng-repeat="(key, value) in data.lecturasRem">
                                    <p>{{key+1}} - {{value.rem}}</p>                                 
                                </span>                                
                            </span>                            
                        </td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col col-sm-3">
                        <center>
                            <h4 ng-click="showOtherConditions = ! showOtherConditions">
                                {{ 'INSPECTION_CONDITIONS_FOUNDS' | translate }}
                                <i class="ion-icon ion-chevron-up pull-right" ng-show="showOtherConditions == false || showOtherConditions === undefined" class="fadein fadeout"></i>
                                <i class="ion-icon ion-chevron-down pull-right" ng-show="showOtherConditions == true" class="fadein fadeout"></i>
                            </h4>
                        </center>
                    </div>                                      
                </div>
                <label class="item item-checkbox ng-empty ng-valid" ng-repeat="tc in data.tireConditions"  ng-show="showOtherConditions">
                    <label class="checkbox checkbox-input-hidden disable-pointer-events checkbox-circle" for="{{tc.title}}">
                        <input type="checkbox" class="ng-pristine ng-untouched ng-valid ng-empty" ng-click="stateChanged()" ng-model="selection.ids[tc.title]" name="group" id="{{tc.title}}">
                            <i class="checkbox-icon"></i>
                        </label>
                        <div class="item-content disable-pointer-events">
                            <span>{{tc.title}}</span>
                        </div>
                </label>
                    
                <label class="form-border-bottom" style="width:100%; ">               
                    ​<textarea ng-model="data.comments" rows="3" style="border-bottom:1px solid #F4001E; font-size:16px; width:100%;" placeholder="{{ 'INSPECTION_COMMENT' | translate }}"></textarea>
                </label>
                <br><br>
                <div ng-hide="disableArea">
                    <label class="item item-input item-stacked-label" hidden>
                        <span class="input-label">* {{'INSPECTION_ADD_OTHER_CONDITIONS_I'|translate}}</span><br>
                        <span class="input-label">{{'INSPECTION_ADD_OTHER_CONDITIONS_II'|translate}}</span>
                    </label>
                    <label class="form-border-bottom" style="width:100%; ">               
                        ​<textarea ng-model="data.others" rows="3" ng-disabled = "disableArea"style="border-bottom:1px solid #F4001E; font-size:16px; width:100%;" placeholder="{{ 'INSPECTION_OTHER_CONDITION' | translate }}"></textarea>
                    </label>                  
                </div>          
                <br><br>
                <center>
                    <button class="button button-small button-assertive" ng-click="addTireInspection(it)" style="z-index:1000">{{ 'MSG_SUBMIT_LABEL' | translate }}</button>          
                </center>
                <br><br>
            </div>                

        </div>          
        <div ng-if="data.tiresRegistred == 0">
            <center>                
                <h4>{{ 'INSPECTION_FINISHED_INSPECTIONS' | translate }}</h4>
                <h4>{{ 'INSPECTION_NOT_TIRES_TO_INSPETION' | translate }}</h4>
                <br>
                <img src="img/icon_inspection_finished.png" class="full-image spaceOn" style="max-width:200px;height:auto;">
                <br><br>

                <label class="item item-input item-stacked-label form-border-bottom">
                  <span>{{'INSPECTION_MESSAGE'|translate}}</span>
                  <input type="text" ng-model="data.messageInspection" required  class="inputNumber"/>
                </label>

                <button class="button button-assertive button-fab" ng-click="recallToInspection()">
                    <i class="icon ion-paper-airplane"></i>
                </button>
            </center>
        </div>      
    </ion-content>
</ion-view>