<ion-view view-title="" class="ion-content" ng-controller="bluetoothCtrl">
  <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
    </ion-nav-buttons>    
    <ion-nav-buttons side="right" ng-click='chooseOption()'>       
        <div style="padding-left: 5px;">
            <button class="button button-positive button-fab"  ng-click="openModal(1)" style="margin-left: 10dp;" ng-controller="bluetoothCtrl">
                    <i class="icon ion-bluetooth"></i>
                </button>
        </div>        
        <button class="button button-icon button-clear ion-gear-b" menu-toggle="right" ng-click='chooseOption()'>
        </button>
    </ion-nav-buttons>


    <ion-content scroll="true">
        <br><br>
        <center ng-show="data.formFindTag">
            <h4>{{ 'NFC_READING_TAGS' | translate }}</h4>
            <div class="col-67">
                <label class="item-stacked-label form-border-bottom">               
                <input type="text" ng-model="tagLlanta" required="" class="ng-pristine ng-empty ng-invalid ng-invalid-required ng-touched" style="border-bottom:1px solid rgb(0, 58, 93);"/>
                </label>   
                <br><br>
                <button id="fab" class="button button-assertive button-fab" ng-click="findTag(tagLlanta)" ng-controller="bluetoothCtrl" ng-disabled="tagLlanta.length == 0" style="color:#FFFFFF;background-color:#FF0000;">
                    <i class="icon ion-paper-airplane"></i>                    
                </button>
            </div>
            <br><br>
            <button id="fab" class="button button-calm button-fab" ng-click="readTag()">
                <i class="icon ion-bluetooth"></i>
            </button>
        </center>
        <center ng-show="data.readingTag">
            <br>
            <img ng-src="img/tagReading.png" style="min-height: 10px;max-height: 300px; min-width:10px; max-width:150px;"/>            
            <br>
            <strong>{{ 'NFC_LEYENDO_TAG' | translate}}</strong>
            <br><br>
            {{ 'NFC_ACERQUE_DISPOSITIVO' | translate}}
            <br><br>
            <button id="fab" class="button button-fab" ng-click="cancelReadTag()" style="background-color:#ff0000;color:#FFFFFF;">
                <i class="icon ion-close"></i>
            </button>
        </center>
        {{notResults}}
        <br>
        <center ng-show="data.notResults">
            <img src="img/tag_not_found.png" style="max-width:200px;height:auto;"/>
            <br>            
            {{ 'NFC_TAG_NOT_FOUND' | translate}}
        </center>
        <center ng-show="data.dataResult">
            DATOS ENCONTRADOS            
        </center>
    </ion-content> 
</ion-view>