<ion-view view-title="{{'REPORTS_REPORTS'|translate}}" hide-back-button="true" controller="ReportsCtrl" ng-init="init()">
    
    <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
    </ion-nav-buttons>
    
    <ion-nav-buttons side="right" ng-click='chooseOption()'>
        <span ng-show="showButtons">
            <span>          
                <button class="button button-positive button-fab"  ng-click="runGeneralReport()" style="margin-left: 10dp;">
                    <i class="icon ion-document-text"></i>
                </button>           
            </span>
            <span>
                <button class="button button-royal button-fab"  ng-click="screenShot()" style="margin-left: 10dp;">
                <i class="icon ion-camera"></i>
            </button>           
            </span>
        </span>         
        <div style="padding-left: 5px;">
            <button class="button button-balanced button-fab"  ng-click="showButtons = !showButtons">
                <i class="icon ion-eye" ng-show="showButtons == false"></i>
                <i class="icon ion-close" ng-show="showButtons == true"></i>
            </button>
        </div>        
        <button class="button button-icon button-clear ion-gear-b" menu-toggle="right" ng-click='chooseOption()'></button>
    </ion-nav-buttons>  

    <ion-content>
        <ion-refresher pulling-text="{{ 'MSG_UPDATE' | translate }}" refreshing-text="{{ 'MSG_UPDATING' | translate }}" on-refresh="init()" controller="ReportsCtrl"></ion-refresher>
        <br>
        <center>
            <h4>{{customerName}}</h4>
        </center>
        <div style="text-align:right; padding:5px 10px;" class="button-fab-bottom-right" ng-hide="indexSelectedNow == 4 || indexSelectedNow == 5" ng-show="indexSelectedNow == 0 || indexSelectedNow == 1 || indexSelectedNow == 2 || indexSelectedNow == 3">
        {{'REPORTS_DATEINSPECTION'|translate}}:
            <select ng-change="cambiarReporte(date_select)" ng-model="date_select">    
                <option value="{{f.mes}}-{{f.anio}}" ng-repeat="f in fechas" ng-selected="f.mes == inspeccionMes && f.anio == inspeccionAnio">
            {{meses[(f.mes)]}} {{f.anio}}</option>
            </select>
        </div>

        <tab-slide-box class="tabbed-slidebox" tab="0">
            <div class="tsb-icons">
                <div class="tsb-ic-wrp">
                    <a href="javascript:;">{{'REPORTS_ANALYSIS'|translate}}</a>
                    <a href="javascript:;">{{'REPORTS_UNITS'|translate}}</a>
                    <a href="javascript:;">{{'LOGIN_RENDIMIENTOS_LABEL'|translate}}</a>
                    <a href="javascript:;">{{'REPORTS_SEMAPHORE'|translate}}</a>                
                    <a href="javascript:;">{{'REPORTS_CONDITIONS'|translate}}</a>                                      
                </div>
            </div>    
            <ion-slide-box show-pager="false" on-slide-changed="slideHasChanged($index);slideIndexChanged($index,'REPORTS');">                  
                <!-- ANALISIS -->
                <ion-slide>
                    <h4>{{'REPORTS_FLEET_ANALYSIS'|translate}}</h4>                                       
                    <div class="list">
                        <div class="item">
                        <center>  
                            <li class="item">
                                <center>{{'REPORTS_INSPECTION_LABEL'|translate}} <strong>{{meses[(inspeccionMes)]}} {{inspeccionAnio}}</strong></center>    
                            </li>
                        </center>
                        </div>
                        <div class="item">
                            <center><strong>{{generalInfo.llantas}} {{'REPORTS_TIRES'|translate}} {{ 'REPORTS_DE' | translate }} {{generalInfo.unidades}}</strong> {{'REPORTS_UNITS'|translate}}</center>
                        </div>
                        <div class="item">
                            <center>
                                {{ 'REPORTS_GENERAL_REND_FLEET' | translate }}<br>
                                <strong>{{ data.rendByFleet | number : 2 }} km / mm</strong>
                            </center>
                        </div>
                    </div>
                    <br><br>
                </ion-slide>

                <!-- UNIDADES -->
                <ion-slide>
                    <ion-scroll zooming="true" style="height:110%" delegate-handle="slide2Scroll" >               
                        <div class="im-wrapper">
                            <button class="button button-positive button-fab pull-right" ng-click="generateReportUnidades()" style="margin-top:-10px!important;">
                                <i class="icon ion-document"></i>
                            </button>
                            <h4 class="no-border no-padding-bottom">{{'REPORTS_UNITS'|translate}}</h4>                    
                            <strong>{{'REPORTS_UNITS_DESC'|translate}}</strong>
                        </div>


                        <ion-list class="animate-blinds disable-user-behavior">
                            <div class="list">                        
                                <ion-item style="transition-delay: 0.24s;" nav-clear="" menu-close="" class="item-icon-right item-icon-left item-avatar item in in done done" ng-click="findTruckDetails('{{u.id}}')" ng-repeat="u in unidades">                                           
                                    <i class="icon ion-ios-checkmark" style="color:#388e3c;" ng-if="u.inspeccion" item-right></i>                        
                                    <h2>{{u.unidad}}</h2>                                                
                                    <p ng-if="u.tipo">{{u.tipo}}</p><p ng-if="!u.tipo">{{'REPORTS_UNITS'|translate}}</p>                        
                                    <i class="icon ion-pricetag" style="color:#388e3c;" item-right ng-if="u.tag_instalado == 'SI'"></i>                        
                                </ion-item>                                        
                            </div>        
                        </ion-list>                            
                        <h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1> 
                    </ion-scroll> 
                </ion-slide>

                <!-- RENDIMIENTOS -->
                <ion-slide>
                    <h4 style="text-transform:uppercase;">{{'LOGIN_RENDIMIENTOS_LABEL'|translate}}</h4>
                    <table class="shadowTable">
                        <tr>
                            <td style="padding:0px;">
                                <h4 ng-show="reportUnits" style="font-size:14px;text-transform: uppercase;">{{ 'REPORTS_UNITS_UNITS' | translate }}</h4>
                                <span ng-show="!reportUnits" ng-click="rendUnits()" style="text-transform: uppercase;">{{ 'REPORTS_UNITS_UNITS' | translate }}</span>
                            </td>
                            <td style="padding:0px;">
                                <h4 ng-show="reportBrands" style="font-size:14px;">{{ 'REPORTS_UNITS_DET_MARCA' | translate }}</h4>
                                <span ng-show="!reportBrands" ng-click="rendBrands()">{{ 'REPORTS_UNITS_DET_MARCA' | translate }}</span>
                            </td>
                        </tr>
                    </table>

                    <ion-scroll zooming="true" style="height:110%" delegate-handle="slide2Scroll" ng-show="reportUnits">
                        <br><br>
                        <center>                            
                            {{ 'REPORTS_GENERAL_REND_FLEET' | translate }}<br>
                            <strong>{{ rendByFleet | number : 2 }} km / mm</strong>
                        </center>
                        <br>
                        <div ng-repeat="r in rendTruck">
                            <a class="item item-avatar" ng-click="showRend = !showRend" style="padding-left:75px;">
                                <img src="img/icon_truck.png"/>
                                <h2 style="overflow:visible!important;">
                                    <center>
                                        <strong>
                                            {{r.unidad}} - {{r.placas}}  &nbsp;&nbsp;&nbsp;&nbsp;
                                        </strong>
                                    </center>                   
                                </h2>
                                <p style="text-align:center;">
                                    {{ 'REPORTS_RENDIMIENTO' | translate }} {{ r.rendTruck | number : 2 }} km / mm
                                </p>
                            </a>
                            <div ng-show="showRend" ng-repeat="l in r.llantas">
                                <a class="item item-avatar" style="padding-left:75px;">
                                    <img src="img/icon_tire.png"/>
                                    <h2 style="overflow:visible!important;">
                                        <center>
                                            <strong>
                                                {{l.posicion}}) {{l.marca}} {{l.medida}} &nbsp;&nbsp;&nbsp;&nbsp;
                                            </strong>
                                        </center>                   
                                    </h2>
                                    <p style="text-align:center;">
                                        {{ 'REPORTS_RENDIMIENTO' | translate }} {{ l.promRendTruck | number : 2 }} km / mm
                                    </p>
                                </a>                             
                                <table>
                                    <thead>
                                        <tr>
                                            <th>{{'TIRES_DATE_INSP_LAB'|translate}}</th>
                                            <th>{{'REPORTS_KM'|translate}}</th>
                                            <th>{{'REPORTS_REM'|translate}}</th>
                                           <th>{{'REPORTS_PROM'|translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="rend in l.rendimiento">
                                            <td>{{meses[rend.mes]}} {{rend.anio}}</td>
                                            <td>{{rend.kilometros}} kms</td>
                                            <td>{{rend.remanente}} mm</td>
                                            <td>{{rend.rendKilometro}} kms x mm</td>                                    
                                        </tr>                                             
                                    </tbody>
                                </table>         
                                <br><br>                                                
                            </div>                            
                        </div>
                        <h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1>
                    </ion-scroll>
                    <ion-scroll zooming="true" style="height:110%" delegate-handle="slide2Scroll" ng-show="reportBrands">
                        <br>
                        <!-- INSERTAR EL REPEAT LLANTAS -->
                        <table>
                            <thead>
                                <tr>
                                    <th>{{ 'REPORTS_UNITS_DET_MARCA' | translate }}</th>
                                    <th>{{ 'REPORTS_RENDIMIENTO' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="rm in rendMarcas | orderBy : 'rm.prom'">
                                    <td>{{rm.marca}}</td>
                                    <td>{{ rm.prom | number : 2 }} km / mm</td>
                                </tr>                                             
                            </tbody>
                        </table>
                        <h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1>                         
                    </ion-scroll>
                </ion-slide>  

                <!-- SEMAFOROS -->
                <ion-slide>
                    <ion-scroll zooming="true" style="height:110%" delegate-handle="slide2Scroll" > 
                        <div class="im-wrapper">
                            <h4 class="no-border no-padding-bottom">{{'REPORTS_SEMAFORO'|translate}}</h4>
                            <strong>{{'REPORTS_SEMAFORO_DESC'|translate}}.</strong>
                        </div>
                        <ion-list class=" animate-blinds disable-user-behavior">
                            <div class="list">
                                <ion-item style="transition-delay: 0.24s;" nav-clear="" menu-close="" class="item-icon-right item-avatar item in in done done" ng-click="loadDetallesLlantas('Rojo');">
                                    <img src="img/rojo.jpg" style="border:1px solid black;">
                                    <h2>{{ 'REPORTS_ROJO' | translate }}</h2>
                                    <p>{{semaforo.rojo}} {{'REPORTS_TIRES'|translate}}</p>
                                </ion-item>
                                <ion-item style="transition-delay: 0.24s;" nav-clear="" menu-close="" class="item-icon-right item-avatar item in in done done" ng-click="loadDetallesLlantas('Amarillo');">
                                    <img src="img/amarillo.jpg" style="border:1px solid black;">
                                    <h2>{{ 'REPORTS_AMARILLO' | translate }}</h2>
                                    <p>{{semaforo.amarillo}} {{'REPORTS_TIRES'|translate}}</p>
                                </ion-item>
                                <ion-item style="transition-delay: 0.24s;" nav-clear="" menu-close="" class="item-icon-right item-avatar item in in done done" ng-click="loadDetallesLlantas('Verde');">
                                    <img src="img/verde.jpg" style="border:1px solid black;">
                                    <h2>{{ 'REPORTS_VERDE' | translate }}</h2>
                                    <p>{{semaforo.verde}} {{'REPORTS_TIRES'|translate}}</p>
                                </ion-item>              
                                <ion-item style="transition-delay: 0.24s;" nav-clear="" menu-close="" class="item-icon-right item-avatar item in in done done" ng-click="loadDetallesLlantas('Blanco');">
                                    <img src="img/blanco.jpg" style="border:1px solid black;">
                                    <h2>{{ 'REPORTS_BLANCO' | translate }}</h2>
                                    <p>{{semaforo.blanco}} {{'REPORTS_TIRES'|translate}}</p>
                                </ion-item>                         
                            </div>
                        </ion-list>
                        <h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1><h1>&nbsp;</h1>  <h1>&nbsp;</h1><h1>&nbsp;</h1>  <h1>&nbsp;</h1><h1>&nbsp;</h1>
                    </ion-scroll>
                </ion-slide>
                
                <!-- CONDICIONES ENCONTRADAS -->
                <ion-slide>
                    <h4>{{'REPORTS_CONDITIONS_FOUNDS'|translate}}</h4>
                    <ion-list class=" animate-blinds disable-user-behavior">
                        <div class="list">
                            <ion-item style="transition-delay: 0.24s;" nav-clear="" menu-close="" class="item in in done done" ng-click="loadDetallesCondiciones('{{c.observacion}}');" ng-repeat="c in condiciones" >
                                <h2>{{c.observacion}}</h2>
                                <p>{{c.total}} Llantas</p>
                            </ion-item>            
                        </div>
                    </ion-list>
                    <button class = "button button-fab button-fab-top-right button-balanced pane" ng-controller="ReportsCtrl" ng-click="openModal(1)"><i class="icon ion-information"></i></button>
                </ion-slide>

            </ion-slide-box>
        </tab-slide-box>
    </ion-content>
</ion-view>
